* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: hidden;
}
#cabecario-topo{
    background-color: #DBC2B0;
    color: #55463C;
    width: 100%;
}
#cabecario-topo .container-titulo{
    display: flex;
    gap: 1.25rem;
    padding: 1.25rem;
    align-items: center;
    box-sizing: border-box;
}
#cabecario-topo .titulo{
    font-size: 1.875rem;
}
#cabecario-topo .img-titulo{
    padding-bottom: 0.625rem;
    box-sizing: border-box;
}
#corpo{
    background-image: url(../imgs/background-corpo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 45%;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: auto;
}
.container-frase{
    padding-left: 3.75rem;
    padding-top: 12.5rem;
    box-sizing: border-box;
}
.container-frase .frase .linha1{
    color: white;
    font-size: 1.875rem;
}
.container-frase .frase .linha2{
    color: white;
    font-size: 3.125rem;
}
.container-frase .frase .linha3{
    color: #DFA782;
    font-size: 3.125rem;
}
.container-frase .frase .linha4 {
    color: white;
}
.container-form{
    background-color: #DBC2B0;
    color: #55463C;
    border-radius: 1.875rem;
    width: 18.75rem;
    height: 31.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    margin-top: -4.375rem;
    box-sizing: border-box;
}
.container-form .titulo-form{
    text-align: center;
    padding-bottom: 0.5rem;
    padding-right: 2.5rem;
    box-sizing: border-box;
}
.container-form .titulo-form img{
    padding-left: 0rem;
    padding-bottom: 0.3125rem;
    box-sizing: border-box;
}
.container-form .container-titulo-img-form{
    display: flex;
    padding-right: 2.5rem;
    box-sizing: border-box;
}
.container-form .container-titulo-img-form .img-form{
    padding-right: 2.1875rem;
    padding-left: 1.5625rem;
    padding-top: 1.0625rem;
    box-sizing: border-box;
}
.container-form .info p{
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
    box-sizing: border-box;
}
.container-form .info input{
    padding-right: 1.25rem;
    padding-left: 2.1875rem;
    border-radius: 0.625rem;
    border-color: darkgrey;
    text-align: left !important;
    padding-left: 0.75rem;
    box-sizing: border-box;
}
.container-form .container-form-imgs{
    padding-right: 1.25rem;
    display: flex;
    box-sizing: border-box;
}
.container-form .container-form-imgs .imgs-form{
    display: flex;
    flex-direction: column;
    gap: 1.6875rem;
    padding-top: 2.0625rem;
    padding-right: 0.1875rem;
    box-sizing: border-box;
}
.container-form .botoes{
    padding-top: 1.25rem;
    display: block;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.container-form .botoes button{
    width: 12.5rem;
    height: 1.875rem;
    border-radius: 0.625rem;
    border: 0.125rem solid #55463C;
    font-weight: bold;
}
.container-form .botoes button:hover{
    width: 12.5rem;
    height: 1.875rem;
    border-radius: 0.625rem;
    border: 0.125rem solid #55463C;
    font-weight: bold;
    background-color: #9a7b66;
}
.container-form .botoes .monitor-maior{
    display: block;
}
.container-form .botoes .btn-enviar{
    background-color: #55463C;
    color: white;
}
.container-form .botoes .btn-cancelar{
    background-color: #DBC2B0;
    color: #55463C;
}
/*responsivade do celular*/
@media (max-width: 767px) {
    * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: hidden;
}
#cabecario-topo{
    background-color: #DBC2B0;
    color: #55463C;
    width: 100%;
}
#cabecario-topo .container-titulo{
    display: flex;
    gap: 1.25rem;
    padding: 1.25rem;
    align-items: center;
    box-sizing: border-box;
}
#cabecario-topo .titulo{
    font-size: 1.875rem;
}
#cabecario-topo .img-titulo{
    padding-bottom: 0.625rem;
    box-sizing: border-box;
}
#corpo{
    background-image: url(../imgs/background-corpo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 45%;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: auto;
    flex-direction: column;
    padding-top: 10rem;
}
.container-frase{
    padding-left: 3.75rem;
    padding-top: 12.5rem;
    box-sizing: border-box;
    display: none;
}
.container-form{
    background-color: #DBC2B0;
    color: #55463C;
    border-radius: 1.875rem;
    width: 18.75rem;
    height: 31.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    margin-top: -4.375rem;
    box-sizing: border-box;
}
.container-form .titulo-form{
    text-align: center;
    padding-bottom: 0.5rem;
    padding-right: 2.5rem;
    box-sizing: border-box;
}
.container-form .titulo-form img{
    padding-left: 0rem;
    padding-bottom: 0.3125rem;
    box-sizing: border-box;
}
.container-form .container-titulo-img-form{
    display: flex;
    padding-right: 2.5rem;
    box-sizing: border-box;
}
.container-form .container-titulo-img-form .img-form{
    padding-right: 2.1875rem;
    padding-left: 1.5625rem;
    padding-top: 1.0625rem;
    box-sizing: border-box;
}
.container-form .info p{
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
    box-sizing: border-box;
}
.container-form .info input{
    padding-right: 1.25rem;
    padding-left: 2.1875rem;
    border-radius: 0.625rem;
    border-color: darkgrey;
    text-align: left !important;
    padding-left: 0.75rem;
    box-sizing: border-box;
}
.container-form .container-form-imgs{
    padding-right: 1.25rem;
    display: flex;
    box-sizing: border-box;
}
.container-form .container-form-imgs .imgs-form{
    display: flex;
    flex-direction: column;
    gap: 1.6875rem;
    padding-top: 2.0625rem;
    padding-right: 0.1875rem;
    box-sizing: border-box;
}
.container-form .botoes{
    padding-top: 1.25rem;
    display: block;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.container-form .botoes button{
    width: 12.5rem;
    height: 1.875rem;
    border-radius: 0.625rem;
    border: 0.125rem solid #55463C;
    font-weight: bold;
}
.container-form .botoes button:hover{
    width: 12.5rem;
    height: 1.875rem;
    border-radius: 0.625rem;
    border: 0.125rem solid #55463C;
    font-weight: bold;
    background-color: #9a7b66;
}
.container-form .botoes .monitor-maior{
    display: block;
}
.container-form .botoes .btn-enviar{
    background-color: #55463C;
    color: white;
}
.container-form .botoes .btn-cancelar{
    background-color: #DBC2B0;
    color: #55463C;
}
}
/*responsividade em monitores maiores*/
@media (min-width: 1920px) {
.container-form .botoes button{
    width: 14rem;
    height: 1.875rem;
    border-radius: 0.625rem;
    border: 0.125rem solid #55463C;
    font-weight: bold;
}
.container-form .botoes button:hover{
    width: 14rem;
    height: 1.875rem;
    border-radius: 0.625rem;
    border: 0.125rem solid #55463C;
    font-weight: bold;
    background-color: #9a7b66;
}
.container-form .botoes .monitor-maior{
    display: block;
}
.container-form .botoes .monitor-normal{
    display: none;
}
}