* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#header{
    background-color: #DBC2B0;
    color: #55463C;
    width: 100%;
}
#header .container-title{
    display: flex;
    gap: 1.25rem;
    padding: 1.25rem;
    align-items: center;
    box-sizing: border-box;
}
#header .title{
    font-size: 1.875rem;
}
#header .img-book{
    padding-bottom: 0.625rem;
    box-sizing: border-box;
}
#body{
    background-image: url(../imgs/background-corpo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 45%;
    align-items: center;
    width: 100%;
    min-height: 80svh;
    height: auto;
}
.container-phrase{
    padding-left: 3.75rem;
    padding-top: 12.5rem;
    box-sizing: border-box;
}
.container-phrase .phrase .line1{
    color: white;
    font-size: 1.875rem;
}
.container-phrase .phrase .line2{
    color: white;
    font-size: 3.125rem;
}
.container-phrase .phrase .line3{
    color: #DFA782;
    font-size: 3.125rem;
}
.container-phrase .phrase .line4 {
    color: white;
}
.container-form{
    background-color: #DBC2B0;
    color: #55463C;
    border-radius: 1.875rem;
    width: 18.75rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    box-sizing: border-box;
}
.container-form .title-form{
    padding-bottom: 0.9375rem;
    box-sizing: border-box;
}
.container-form .title-form img{
    padding-left: 3.125rem;
    padding-bottom: 0.625rem;
    box-sizing: border-box;
}
.container-form .info p{
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
    box-sizing: border-box;
}
.container-form .info input{
    padding-right: 1.25rem;
    padding-left: 2.1875rem;
    border-radius: 0.625rem;
    border-color: darkgrey;
    text-align: left !important;
    padding-left: 0.75rem;
    box-sizing: border-box;
}
.container-form .container-form-imgs{
    padding-right: 1.25rem;
    display: flex;
}
.container-form .container-form-imgs .imgs-form{
    display: flex;
    flex-direction: column;
    gap: 1.6875rem;
    padding-top: 2.0625rem;
    padding-right: 0.1875rem;
    box-sizing: border-box;
}
.container-form .forgout-password{
    padding-bottom: 1.875rem;
    padding-left: 6.25rem;
    padding-top: 0.1875rem;
    box-sizing: border-box;
}
.container-form .forgout-password a{
    color: #55463C;
}
.container-form .forgout-password a:hover{
    color: #9a7b66;
}
.container-form .btns{
    display: block;
    align-items: center;
    flex-direction: column;
}
.container-form .btns button{
    width: 12.5rem;
    height: 1.875rem;
    border-radius: 0.625rem;
    border: 2px solid #55463C;
    font-weight: bold;
}
.container-form .btns button:hover{
    width: 12.5rem;
    height: 1.875rem;
    border-radius: 0.625rem;
    border: 0.125rem solid #55463C;
    background-color: #9a7b66;
    font-weight: bold;
}
.container-form .btns .btn-login{
    background-color: #55463C;
    color: white;
}
.container-form .btns .btn-register{
    background-color: #DBC2B0;
    color: #55463C;
}
.container-form .btns .monitor-larger{
    display: none;
}
.footer .container-info{
    background-color: #DBC2B0;
    color: #55463C;
    display: flex;
    align-items: center;
    gap: 6.25rem;
    padding-left: 3.125rem;
    padding: 1.875rem;
    box-sizing: border-box;
}
.footer .container-info .about-us .text-mobile{
    display: none;
}
.footer .container-info .about-us .text-computer{
    display: block;
}
.footer .container-info .container-contact-us{
    display: flex;
    gap: 0.625rem;
    align-items: center;
}
.footer .container-info .container-contact-us .imgs-contact-us{
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    padding-top: 1.0625rem;
    box-sizing: border-box;
}
/*responsivade do celular*/
@media (max-width: 767px) {
    * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}
#header{
    background-color: #DBC2B0;
    color: #55463C;
    max-width: 100%;
    height: 20%;
}
#header .container-title{
    display: flex;
    gap: 1.25rem;
    padding: 1.25rem;
    align-items: center;
    box-sizing: border-box;
}
#header .title{
    font-size: 1.875rem;
}
#header .img-book{
    padding-bottom: 0.625rem;
    box-sizing: border-box;
}
#body{
    background-image: url(../imgs/background-corpo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 80svh;
    height: auto;
    flex-direction: column;
    padding-top: 10rem;
}
.container-phrase{
    padding-left: 3.75rem;
    padding-top: 12.5rem;
    box-sizing: border-box;
    display:none;
}
.container-form{
    background-color: #DBC2B0;
    color: #55463C;
    border-radius: 1.875rem;
    width: 18rem;
    height: 25rem;
    box-sizing: border-box;
}
.container-form .title-form{
    padding-bottom: 0.9375rem;
    box-sizing: border-box;
}
.container-form .title-form img{
    padding-left: 3.125rem;
    padding-bottom: 0.625rem;
    box-sizing: border-box;
}
.container-form .info p{
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
    box-sizing: border-box;
}
.container-form .info input{
    padding-right: 1.25rem;
    padding-left: 2.1875rem;
    border-radius: 0.625rem;
    border-color: darkgrey;
    text-align: left;
    padding-left: 0.75rem;
    box-sizing: border-box;
}
.container-form .container-form-imgs{
    padding-right: 1.25rem;
    display: flex;
}
.container-form .container-form-imgs .imgs-form{
    display: flex;
    flex-direction: column;
    gap: 1.6875rem;
    padding-top: 2.0625rem;
    padding-right: 0.1875rem;
    box-sizing: border-box;
}
.container-form .forgout-password{
    padding-bottom: 1.875rem;
    padding-left: 6.25rem;
    padding-top: 0.1875rem;
    box-sizing: border-box;
}
.container-form .forgout-password a{
    color: #55463C;
}
.container-form .forgout-password a:hover{
    color: #9a7b66;
}
.container-form .btns{
    display: block;
    align-items: center;
    flex-direction: column;
}
.container-form .btns button{
    width: 12.5rem;
    height: 1.875rem;
    border-radius: 0.625rem;
    border: 0.125rem solid #55463C;
    font-weight: bold;
}
.container-form .btns button:hover{
    width: 12.5rem;
    height: 1.875rem;
    border-radius: 0.625rem;
    border: 0.125rem solid #55463C;
    background-color: #9a7b66;
    font-weight: bold;
    padding: 2rem;
}
.container-form .btns .btn-login{
    background-color: #55463C;
    color: white;
}
.container-form .btns .btn-register{
    background-color: #DBC2B0;
    color: #55463C;
}
.container-form .btns .monitor-larger{
    display: none;
}
.footer .container-info{
    background-color: #DBC2B0;
    color: #55463C;
    align-items:self-start;
    gap: 1.5rem;
    box-sizing: border-box;
    display: flex;
}

.footer .container-info .about-us .text-computer{
    display: none;
}
.footer .container-info .container-contact-us{
    padding-bottom: 3.5rem;
    width: 100%;
    max-width: 100%;
}
.footer .container-info .container-contact-us .contact-us{
    width: 100%;
    max-width: 100%;
}
.footer .container-info .our-locations{
    padding-bottom: 1.4rem;
    width: 100%;
    max-width: 100%;
}
.footer .container-info .container-contact-us .imgs-contact-us{
    display: none;
}
}
/*responsividade em monitores maiores*/
@media (min-width: 1920px) {
.container-form .btns button{
    width: 14rem;
    height: 1.875rem;
    border-radius: 0.625rem;
    border: 0.125rem solid #55463C;
    font-weight: bold;
}
.container-form .btns button:hover{
    width: 14rem;
    height: 1.875rem;
    border-radius: 0.625rem;
    border: 0.125rem solid #55463C;
    font-weight: bold;
    background-color: #9a7b66;
}
.container-form .btns .monitor-larger{
    display: block;
}
.container-form .btns .monitor-normal{
    display: none;
}
}